/*
Pascal Vos
1422537vos
26-02-2019
*/
/* .raket
{
    background-image: url(../img/grid.svg);
} */

body
{
    background-size: cover;
    background-image: url(../img/space.jpg);
}





